
/* universal setting */

.fixed-container {
    width: 108rem;
    margin: 0 auto;
}

:root {
    --header-footer-background-color: #0C4A6E;
    --text-font-family: arial, sans-serif;
    --cart-heading-font: arial 700 3rem;
    --cart-text-font:  arial 400 1rem;
    --cart-background-color: rgba(0,0,0,0.2);
}



/* header setting */
header {
    background-color: var(--header-footer-background-color);
    padding: 1.625rem 89.0625rem 1.625rem 6.25rem;
    width: 108rem;
    height: 5.6875rem;
    
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.625rem;
    color: #FAFAFA;

}

h2 {
    color: #000000;
    font-family: arial, sans-serif;
    font-weight: 700;
    font-size: 3.75rem;
    margin-bottom: 1.5rem;
}

h3 {
    color: #000000;
    font-family: arial, sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

h4 {
    color: #000000;
    font-family: arial, sans-serif;
    font-weight: 700;
    font-size: 2.125rem;
    text-align: center;
}

main {
    background-color: #ffffff;
    width: 108rem;
    padding: 1.75rem 6.25rem 6rem 6.25rem;
    }

    .members-flex-container {
    display: flex;
    gap: 3.25rem 2rem;
    flex-wrap: wrap;
    
    }

.members-carts-container {
    background-color: var(--cart-background-color);
    width: calc( (100% - 2rem) / 2);
    height: 17.5rem;
    display: flex;
    padding: 2rem 1.75rem;
    align-items: center;
    gap: 3.5rem;
  
    }

    .plans-flex-container {
        display: flex;
        gap: 2.0625rem;
        flex-wrap: wrap;
        
        }

    .plans-carts-container {
        background-color: var(--cart-background-color);
        width: calc( (100% - 2.0625rem * 2) / 3);
        justify-items: center;
        padding: 1.75rem;
        align-items: center;
        gap: 3.5rem;

    }

    footer {
    background-color: var(--header-footer-background-color);
    padding: 1.625rem 40.8125rem 1.625rem 6.1875rem;
    width: 108rem;
    height: 6.25rem;
    color: #FAFAFA;
    font-family: arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    
}

.price {
    color: var(--header-footer-background-color);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}